body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 10px;
    margin: 15px 0;
    border-radius: 5px;
}
.container{
    width: 500px;
    margin: auto;
    transform: translateY(5rem);
}
.form{
    background: rgba(128, 128, 128, 0.185);
    padding: 20px;
    border-radius: 5px;
}
.form .input{
    width: 78%;
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
}
.form .add{
    background: red;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.tasks{
    margin-top: 20px;
    background: rgba(128, 128, 128, 0.185);
    border-radius: 5px;
    padding: 20px;
}
.delete{
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width:900px) {
    .container{
        width: 100%;
        margin: auto;
        transform: translateY(5rem);
    }
    .form .input{
        width: 95%;
        outline: none;
        border-radius: 4px;
        border: none;
        padding: 5px 10px;
        margin-right: 10px;
    }
    .form .add{
        background: red;
        color: #fff;
        border: none;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        margin-top: 10px;
    }
}
